body {
  margin: 0px;
  padding: 0px;
  background-color: #F0F0F0;
}

h1 {
  font-family: "Lato", sans-serif;
  color: #F0F0F0;
  background-color: #1372ef;
  border: 5px hidden;
  border-radius: 15px;
  padding: 2px 10px;
  margin: 0px 10px 4px 10px;
}

h2 {
  color: black;
}

h2, h3 {
  font-family: "Open Sans";
}

p, li {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-top: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 6px 20px;
}

.grid-item {
  position: relative;
  border: 1px solid;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.footer {
  margin-bottom: 6px;
  align-self: end;
}

.project-photo {
  display: block;
  width: 300px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.job {
  margin-bottom: 60px;
}

.job-description {
  margin-left: 130px;
}

.job-text > ul {
  margin-left: 86px;
}

.work-photo {
  display: inline-block;
  float: left;
  width: 100px;
  height: 65px;
  margin-right: 30px;
  margin-bottom: 35px;
  border-radius: 5px;
}

.work-photo-portrait {
  display: inline-block;
  float: left;
  width: 65px;
  height: 100px;
  margin-left: 18px;
  margin-right: 47px;
  margin-bottom: 35px;
  border-radius: 5px;
}

.moveleft {
  margin-left: -15px;
}

.titlebar {
  font-size: 70px;
  height: 90px;
  margin: -10px 4px 0px 4px;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
}

.greeting {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 5px;
  border: 5px solid;
  display: inline-block;
  background: #F0F0F0;
  border-color: #F0F0F0;
  border-radius: 5px;
  width: 370px;
}

@media screen and (max-width: 900px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 700px) {
  .project-photo {
    width: 220px;
    height: 170px;
  }
}

@media screen and (max-width: 550px) {
  .grid-container {
    grid-template-columns: auto;
  }
  .project-photo {
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width: 445px) {
  .titlebar {
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .greeting {
    width: 300px;
  }
  .project-photo {
    width: 260px;
    height: 170px;
  }
}

@media only screen and (max-width: 380px) {
  .titlebar {
    font-size: 40px;
  }

  .greeting {
    margin: auto;
    margin-top: 20px;
    width: 260px;
  }
}

.center {
  text-align: center;
}

.subheader {
  margin-bottom: 0px;
}

#selfportrait {
  margin-top: 16px;
  border: 2px solid;
  border-color: #FFFFFF;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 225px;
  height: 225px;
}

.icons {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 5px 5px 1px 5px;
  border: 5px solid;
  display: inline-block;
  background: #F0F0F0;
  border-color: #F0F0F0;
  border-radius: 5px;
}

.sectionbar {
  vertical-align: middle;
}

.arrow {
  font-size: 80%;
  float: right;
}

#resume {
  padding-right: 2px;
}

#linkedin {
  padding-left: 2px;
  padding-right: 2px;
}

#devpost {
  padding-left: 2px;
}

#github {
  padding-left: 2px;
}

#introduction {
  background-image: url("photos/pond.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}

#workexperience, #technicalskills, #awards, #education {
  margin-left: 15px;
  margin-right: 15px;
}

#technicalskills {
  margin-top: 10px;
}

#education {
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-subheader {
  color: #003d99;
}

.subheader {
  margin-left: 20px;
  color: #003d99;
}

.important {
  color: #0066ff;
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}
